{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>EXPO INDUSTRIA TECATE</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'evento/img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'evento/style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href="" class="nav-brand"><img src="{% static 'evento/img/core-img/logo.png' %}" height="100" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href=".contacto" class="link-scroll">Contact</a></li>
                                    <li><a href="{% url 'prog' %}#expositores" class="link-scroll">Particiapant enterprises</a></li>
                                    <script>
                                        $('.link-scroll').bind('click', function (e) {
                                            var anchor = $(this);
                                            $('html, body').stop().animate({
                                                scrollTop: $(anchor.attr('href')).offset().top + 2
                                            }, 700);
                                            e.preventDefault();
                                        });
                                    </script>
                                    <li><a href="{% url 'prog' %}">Information</a></li>
                                </ul>

                                <!-- Top Social Info -->
                                <div class="top-social-info ml-5">
                                    <a href="/root_jesus/"><img src="{% static 'evento/img/bg-img/mex.png' %}" alt=""></a>
                                    <a href="https://www.facebook.com/Expo-Industria-Tecate-111459603561642/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/canacintra.tecate/"><i class="fa fa-instagram"></i></a>


                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slideshow owl-carousel">
            <!-- Single Slide -->
            <div class="single-slide">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img" style="background-image: url({% static 'evento/img/bg-img/1.png' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="300ms"><span><strong>Thursday <label style="color: red">07</label></strong></span><strong><br>November 2019</h2></strong>
                                <h4 data-animation="fadeInUp" data-delay="500ms"><strong>From 10:00 am: <span>Expo Industria Tecate </span></strong></h4>
                                <a href=".intro" class="btn pixel-btn mt-50 continue link-scroll" data-animation="fadeInUp" data-delay="700ms">Register my pass</a>
                            <script>
                                $('.link-scroll').bind('click', function (e) {
                                    var anchor = $(this);
                                    $('html, body').stop().animate({
                                        scrollTop: $(anchor.attr('href')).offset().top + 2
                                    }, 700);
                                    e.preventDefault();
                                });
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img" style="background-image: url({% static 'evento/img/bg-img/2.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text">
                                <h2 data-animation="fadeInUp" data-delay="300ms"><span><strong>SEDE:</strong></span><br><strong>MMS de México</strong></h2>
                                <h4 data-animation="fadeInUp" data-delay="500ms"><strong>BLVD. ENCINO 30012 A-1 PARQUE INDUSTRIAL,</strong> <span><strong>TECATE B.C. CP 21430</strong></span></h4>
                                <a href=".intro" class="btn pixel-btn mt-50 link-scroll" data-animation="fadeInUp" data-delay="700ms">Register my pass</a>
                                <script>
                                $('.link-scroll').bind('click', function (e) {
                                    var anchor = $(this);
                                    $('html, body').stop().animate({
                                        scrollTop: $(anchor.attr('href')).offset().top + 2
                                    }, 700);
                                    e.preventDefault();
                                });
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="pixel-portfolio-area">
        <style>
            #countdown, #title{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 35px;
                letter-spacing: -0.8px;
                word-spacing: 0px;
                color: white;
                font-weight: normal;
                text-decoration: none;
                font-style: normal;
                font-variant: normal;
                text-transform: none;
                background: -webkit-linear-gradient(to left, #292E49, #789ba8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #292E49, #789ba8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
        </style>
        <div id="title" align="center" >In...</div>
        <div id="countdown" align="center"></div>
        <script>
        var end = new Date('11/07/2019 10:00 AM');

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {

                    clearInterval(timer);
                    document.getElementById('countdown').innerHTML = 'EXPIRED!';

                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);

                document.getElementById('countdown').innerHTML = days + ' days, ';
                document.getElementById('countdown').innerHTML += hours + ' hours, ';
                document.getElementById('countdown').innerHTML += minutes + ' minutes and ';
                document.getElementById('countdown').innerHTML += seconds + ' seconds';
            }

            timer = setInterval(showRemaining, 1000);
        </script>
    </div>


     <div class="pixel-portfolio-area" align="center">
         <style>
             @media (min-width: 992px) {
    .youtubevid {
        width: 960px;
        height: 540px; /* 720px */
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .youtubevid {
        width: 640px;
        height: 360px; /* 480px */
    }
}

@media (min-width: 481px) and (max-width: 766px) {
    .youtubevid {
        width: 480px;
        height: 270px; /* 320px */
    }
}

@media (max-width: 480px) {
    .youtubevid {
        width: 300px;
        height: 169px; /* 225px */
    }
}
         </style>
<iframe class="youtubevid" width="1120" height="630" src="https://www.youtube.com/embed/g5zLHcyt_n4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### Newsletter Area Start ###### -->
    <!-- ##### Newsletter Area End ###### -->

    <!-- ##### Portfolio Area Start ###### -->
    <div class="pixel-portfolio-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2></h2>
                        <img src="{% static 'evento/img/core-img/logo.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Menu -->
        <div class="pixel-projects-menu wow fadeInUp" data-wow-delay="200ms">
            <div class="text-center portfolio-menu">
                <button class="btn active" data-filter="*">Sponsors</button>
                <!-- Opciones adicionales
                <button class="btn" data-filter=".visual">Visual</button>
                <button class="btn" data-filter=".add">Advertising</button>
                <button class="btn" data-filter=".web">Web Development</button>
                -->
            </div>
        </div>

        <div class="pixel-portfolio">

            <!-- Single gallery Item -->
            <div class="single_gallery_item visual wow fadeInUp" data-wow-delay="0.2s">
                <img src="{% static 'evento/img/bg-img/5.png' %}" alt="">
                <div class="hover-content text-center d-flex align-items-center justify-content-center">
                    <div class="hover-text">
                        <a href="{% static 'evento/img/bg-img/5.png' %}" class="zoom-img"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <h4>visualize</h4>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item -->
            <div class="single_gallery_item add wow fadeInUp" data-wow-delay="0.4s">
                <img src="{% static 'evento/img/bg-img/6.png' %}" alt="">
                <div class="hover-content text-center d-flex align-items-center justify-content-center">
                    <div class="hover-text">
                        <a href="{% static 'evento/img/bg-img/6.png' %}" class="zoom-img"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <h4>visualize</h4>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item -->
            <div class="single_gallery_item web wow fadeInUp" data-wow-delay="0.6s">
                <img src="{% static 'evento/img/bg-img/7.png' %}" alt="">
                <div class="hover-content text-center d-flex align-items-center justify-content-center">
                    <div class="hover-text">
                        <a href="{% static 'evento/img/bg-img/7.png' %}" class="zoom-img"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <h4>visualize</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Portfolio Area End ###### -->

    <!-- ##### Contact Area Start #####-->
    <section class="contact-area section-padding-100 intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>Register your entry pass today</h2>
                        <img src="{% static 'evento/img/core-img/x.png' %}" width="100" alt="">
                    </div>
                </div>
            </div>
            <style>
                .contact-form-area input, .contact-form-area textarea{
                    margin-bottom: 12px;
                }
                #id_intereses input{
                    content: '';
                  width: 15px;
                  height: 13px;
                  border: 1px solid #6cc0e5;

                  left: 0;
                  top: 0;
                }

            </style>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Contact Form -->
                    <div class="contact-form-area text-center">


                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn pixel-btn wow fadeInUp" data-wow-delay="900ms">Register my pass</button>
                        </form>


                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Contact Area End #####-->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-footer-widget mb-100">
                        <!-- Footer Logo -->
                        <a href="" class="footer-logo"><img src="{% static 'evento/img/core-img/logo2.png' %}" height="100" alt=""></a>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">Address</h5>
                                <p>CALLE SAN FCO EUSEBIO KINO, Misión de Mulegé S/N, <br>
                                    El Descanso, 21478 Tecate, Baja California

</p>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title contacto" id="contact">Contact</h5>
                                <p><i class="fa fa-phone"></i> <br> (665) 655-07-56</p>
                                <p><i class="fa fa-phone"></i> <br> (665) 655-07-57</p>
                                <p><i class="fa fa-phone"></i> <br> (665) 655-07-58</p>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">Social</h5>
                                <div class="footer-social-info">
                                    <a href="https://www.facebook.com/Expo-Industria-Tecate-111459603561642/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/canacintra.tecate/"><i class="fa fa-instagram"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="copywrite-content">
                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                This template is edited. <i class="fa fa-heart-o" aria-hidden="true"> </i> by <a href="https://www.facebook.com/profile.php?id=100035105416085" target="_blank">Celeryk</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'evento/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'evento/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'evento/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'evento/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'evento/js/active.js' %}"></script>
</body>

</html>
